# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
 - List of Popular languages for Data Science
 - List of Open source tools for Data Science
 - List of Commercial tools for Data Science
 - List of Cloud Based tools for Data Science

Some of the popular languages that Data Scientists use are:
   1. Python
   2. R Programming
   3. Julia
   4. Java
   5. Swift
   6. Go
   7. Scala

Some of the commonly used libraries used by Data Scientists include:
   1. Pandas
   2. Numpy
   3. Scipy
   4. Sklearn

|Data Science Tools|
|-----|
|Jupyter Notebook|
|Jupyter Lite|
|R studios|
|Spyder|
|Apache zeppenlin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes/60

## Author
Aparna